{% extends "layout.html" %}

{% set active_page = "gamep" %}

{% block title %}gamep{% endblock %}

{% block content %}

<div class="flex-container">
  <div><p><a href="/pong"><img border="2" src="static/pong2.jpg" alt="pong" width="135" height="76"></a>
</p></div>
  <div><p><a href="/snake"><img border="2" src="static/snake.jpg" alt="snakeg" width="135" height="79"></a>
</p></div>
  <div><p><a href="/sta"><img border="2" src="static/stack.png" alt="stackg" width="110" height="79"></a>
</p></div> 
<br> 
  
</div>
<div class="flex-container">
<div><p><a href="/tic"><img border="2" src="static/tic.webp" alt="tictactoe" width="135" height="79"></a>
</p></div>  
<div><p><a href="/flap"><img border="2" src="static/flappy.jpg" alt="flappy" width="135" height="79"></a>
</p></div>  
</div>
{% endblock %}
