{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
	<div class="sidebar">
	{% include 'navbar.html' %}
	
	</div>
	
<div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %}
         {% for category, message in messages %}
            {% if category == "message" %}
              {% set cls = "alert alert-success alert-dismissible" %}
            {% elif category == "error" %}
              {% set cls = "alert alert-danger alert-dismissible" %}
            {% endif %}
            <div class="{{ cls }}">
               <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              {{ message }}
            </div>
         {% endfor %}
      {% endif %}
    {% endwith %}
	
    <h1>This is the Home page</h1>

    <p>Lorem ipsum.</p>

  
 </div>
 </div>

{% endblock %}
