{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
	<div class="sidebar">
	{% include 'navbar.html' %}
	
	</div>
	
<div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %}
         {% for category, message in messages %}
            {% if category == "message" %}
              {% set cls = "alert alert-success alert-dismissible" %}
            {% elif category == "error" %}
              {% set cls = "alert alert-danger alert-dismissible" %}
            {% endif %}
            <div class="{{ cls }}">
               <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              {{ message }}
            </div>
         {% endfor %}
      {% endif %}
    {% endwith %}
	
     <h1>Chat Door</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
            {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
            {{ form.submit() }}
        </form>
  
 </div>
 </div>

{% endblock %}
