{% extends "layout.html" %}

{% set active_page = "prof" %}

{% block title %}Profiles{% endblock %}

{% block content %}

  <h1>Profile pictures!!</h1>
  <p>Select which profile picture you would like to use:</p>
  <br><div class ="flex-container">
  
  <div class="row">
  <div class="column">
  <a><img src="static/boy1.png" class="thumbnail profile" data-bs-toggle="modal" data-bs-target="#myModal2" height="100" width="100"/> </a>
  </div>
  <div class="column">
  <a><img src="static/boy2.png" class="thumbnail profile" data-bs-toggle="modal" data-bs-target="#myModal2" height="100" width="100"/> </a>
  </div>
  <div class="column">
  <a><img src="static/boy3.png" class="thumbnail profile" data-bs-toggle="modal" data-bs-target="#myModal2" height="100" width="100"/> </a>
  </div>
  <div class="column">
  <a><img src="static/boy4.png" class="thumbnail profile" data-bs-toggle="modal" data-bs-target="#myModal2" height="100" width="100"/> </a>
  </div>
  </div>
  </div>
  <br>
  <div class ="flex-container">
  
  <div class="row">
  <div class="column">
  <a><img src="static/girl1.png" class="thumbnail profile" data-bs-toggle="modal" data-bs-target="#myModal2" height="100" width="100"/> </a>
  </div>
  <div class="column">
  <a><img src="static/girl2.png" class="thumbnail profile" data-bs-toggle="modal" data-bs-target="#myModal2" height="100" width="100"/> </a>
  </div>
  <div class="column">
  <a><img src="static/girl6.png" class="thumbnail profile" data-bs-toggle="modal" data-bs-target="#myModal2" height="100" width="100"/> </a>
  </div>
  <div class="column">
  <a><img src="static/girl4.png" class="thumbnail profile" data-bs-toggle="modal" data-bs-target="#myModal2" height="100" width="100"/> </a>
  </div>
  </div>
  </div>
  
 
    

  
  
  <script src="static/njs.js"></script>
{% endblock %}
